.contenido p {
  text-align: center;
  margin-bottom: 5rem;
}

.textInfo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

/* Contact section */
.contactUs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactUs > * {
  margin-top: 2rem;
}

.info {
  background-color: #12171b;
  border-radius: 20px;
  color: #e3e4ca;
  padding: 2rem;
  text-align: center;
}

.info h2 {
  color: #ffde59;
}

.info p {
  color: #e3e4ca;
  font-weight: 700;
}

.info span {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.info span div {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  text-align: left;
}

.info span div a {
  width: 50px;
  height: 50px;
}

/* Form section */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  max-width: 45rem;
  margin: 2rem;
}

.form > * {
  margin: 1rem 0;
}

.form input,
.form textarea {
  display: block;
  padding: 2rem;
  width: 100%;
  background-color: #12171b;
  border-radius: 8px;
  color: #e3e4ca;
  margin-bottom: 1rem;
  border: none;
  outline: none;
}

/* Send button styles */
.send {
  all: unset;
  margin-top: 2rem;
  padding: 10px;
  color: #e3e4ca;
  background-color: #12171b;
  border: 1px solid #e3e4ca;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  transition-duration: 0.3s;
  cursor: pointer;
}

.send:hover {
  background-color: #e3e4ca;
  color: #12171b;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .contactUs {
    flex-direction: column;
    margin: 1rem;
    overflow-x: hidden;
  }

  .contactUs > * {
    margin: 1rem 0;
  }

  .form {
    max-width: none;
  }
}

.hr {
  border: 0;
  height: 1px;
  width: 50%;
  position: relative;
  margin: 30px auto;
}

.centerDiamond {
  background: #12171b;
}

.centerDiamond:before {
  content: "";
  width: 6px;
  height: 6px;
  background: #12171b;
  display: inline-block;
  border: 2px solid #12171b;
  position: absolute;
  top: -5px;
  left: 50%;
  margin: 0 0 0 -3px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}