.footer {
  background-color: #e3e4ca;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
  padding-top: 40px;
}

.built{
    text-align: center;
}

.built a{
  color: #12171B;
  text-decoration: none;
  transition-duration: 0.3s;
}

.built a:hover{
    transform: scale(1.1)
}

.socials{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  transition-duration: 0.3s;
}

.socials a{
  transition-duration: 0.3s;
}

.socials a:hover{
  transform: scale(1.1);
}

.hr{
  
  border: 0;
  height: 1px;
  width: 50%;
  position: relative;
  margin: 30px auto;
  
}

.centerDiamond{
  background: #12171B;
}

.centerDiamond:before{
  content: "";
  width: 6px;
  height: 6px;
  background: #12171B;
  display: inline-block;
  border: 2px solid #12171B;
  position: absolute;
  top: -5px;
  left: 50%;
  margin: 0 0 0 -3px;
  transform:rotate(45deg);
  -ms-transform:rotate(45deg); /* IE 9 */
  -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
}


