@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');

/*
Primario: #12171B
Secundario: #0c1013
Terciario: #FFDE59
Background: #e3e4ca
*/

html {
  font-size: 62.5%;
  background-color:  #e3e4ca;
  overflow-x: hidden;
}

body {
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  position: relative;
  overflow-x: hidden;
}

[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin: 1rem 0;
}


