.contenido {
  padding: 4rem;
  margin: 0 auto;
}

.titulo {
  text-align: center;
  text-transform: uppercase;
  color: #12171b;
}

.barra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .barra {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.logo {
  transition-duration: .3s;
}

.logo:hover {
  transform: scale(1.1);
  transition-duration: .3s;
}

@media (min-width: 500px) {
  .logo {
    width: 150px;
    height: 150px;
  }
}

.navegacion {
  margin-top: 5rem;
  align-items: center;
  display: flex;
  gap: 4rem;
  z-index: 1;
  transition: color;
  transition-duration: 0.3s;
}

@media (min-width: 768px) {
  .navegacion {
    margin-top: 0;
  }
}

.navegacion a {
  color: #12171b;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  transition-duration: 0.3s;
  animation: boot 3s;
  position: relative;
}

.navegacion a::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.navegacion a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navegacion a::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #FFDE59;
  z-index: -1;
  transition: transform .3s ease;
}



.navegacion button {
  all: unset;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #12171b;
  border: 1px solid #12171b;
  padding: 5px;
  font-weight: bolder;
  transition-property: color;
  transition-duration: 0.3s;
}

.navegacion button:hover {
  cursor: pointer;
  color: #e3e4ca;
  background-color: #12171b;
  padding: 5px;
}

@keyframes boot {
  0% {
    opacity: 0;
    transform: translate(1.1);
  }

  50% {
    opacity: 50%;
    transform: translate(1.2);
  }

  100% {
    opacity: 100%;
    transform: translate(1.3);
  }
}
