.inicio{
    display:flex;
    color: #12171B;
    align-items: center;
    justify-content: space-evenly
}

/*
@media (min-width:992px) {
    .inicio{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}
*/

.inicio h5{
    color: #0c1013;
}

.texto h2{
  margin: 0;
  font-size: 64px;
  font-weight: bolder;
  white-space: nowrap;
  border-right: 4px solid;
  width: 11ch;
  color: #edbe00;
  animation: typing 3s steps(11), blink .75s infinite step-end alternate;
  overflow: hidden; 
}

.texto p{
  font-weight: 700;
  text-transform: uppercase;
}

@keyframes typing{
  from {width: 0}
}

@keyframes blink {
  50% {border-color: transparent}
}