.contenido {
  background-color: #12171b;
  padding-bottom: 2rem;
  margin: auto;
}

.contenido h2 {
  color: #ffde59;
}

.cardHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.cards {
  display: grid;
    padding: 2rem;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    gap: 2rem;
}

@media (max-width: 600px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(350px, 1fr));
    gap: 2rem;
  }
}

.hr {
  border: 0;
  height: 1px;
  width: 50%;
  position: relative;
  margin: 30px auto;
}

.centerDiamond {
  background: #12171b;
}

.centerDiamond:before {
  content: "";
  width: 6px;
  height: 6px;
  background: #12171b;
  display: inline-block;
  border: 2px solid #12171b;
  position: absolute;
  top: -5px;
  left: 50%;
  margin: 0 0 0 -3px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Opera, Chrome, and Safari */
}
